body {
    font-family: 'Varela Round';

}

header {
    background-image: url("images/bg-masthead.jpg" );
    height: 900px;
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;

    
}

.li_nav{
    margin-left: 600px;
    
}

.graysc {
    font-family: 'Varela Round';
    text-transform: uppercase;
    font-size: 6.5rem;
    background: -webkit-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 200px;
    letter-spacing: .8rem;
}

.p-graysc {
    color: rgba(255,255,255,.5);
    letter-spacing: 0.1rem;
}

.get_btn {
    border-radius: 2px;
    

}

.btn-coco {
    background-color: #64a19d !important;
    font-family: 'Varela Round';
    text-transform: uppercase;
    letter-spacing: .15rem;
}