body {
    font-family: 'Varela Round';

}

header {
    background-image: url("images/bg-masthead.jpg" );
    height: 900px;
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;

    
}

.li_nav{
    margin-left: 600px;
    
}

.graysc {
    font-family: 'Varela Round';
    text-transform: uppercase;
    font-size: 6.5rem;
    background: -webkit-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 200px;
    letter-spacing: .8rem;
}

.p-graysc {
    color: rgba(255,255,255,.5);
    letter-spacing: 0.1rem;
}

.get_btn {
    border-radius: 2px;
    

}

.btn-coco {
    background-color: #64a19d !important;
    font-family: 'Varela Round';
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.sec_built {
    background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%,rgba(22,22,22,.8) 100%);
    text-align: center;
    padding-top: 160px;

}

.h2_built {
    padding-top: 60px;
    color: white;
    text-align: center;
}

.p_built {
    color:rgba(255,255,255,.5) ;

}

.a_built {
    color: #64a19d ;
}


.row1_shoreline {
    margin-top: 150px;
}

.col6img {
    padding-right: 0px;
}

.col6p {
    padding-left: 5px;
}
.col_p {
   border-left: 7px solid;
   border-left-color: #64a19d;
   margin-top: 100px;
   padding-left: 40px;
   font-size: 10px;
   
}

.p_shoreline {
    color: darkgray;
    font-size: 16px;
}

.row4img {
    margin-top: 50px;
}
.colimg {
    width: 555px;
}

.back-rgt {
    background-color: #161616;
    padding-left: 89px;
    padding-right: 110px;
    padding-top: 153px;
    text-align: left;
}

.text-h2 {
    color: aliceblue;
    font-size: x-large;
}
.text-img {
    color: darkgray;
    font-size: 15px;
}

.bdrt {
    
    border-top: 5px solid;
    color: #64a19d;
    margin-right: 262px;
}

.row4img2 {
    margin-bottom: 140px;
}
.back-rgt2 {
    background-color: #161616;
    padding-top: 118px;
    padding-left: 85px;
    padding-right: 77px;
    
}

.bdrt2 {
    border-top: 5px solid;
    color: #64a19d;
    margin-left: 277px;
}

.col6img2 {
    padding-left: 0;
    padding-right: 0;
}

.pos-t {
    padding-left: 77px; 
    padding-right: 82px;
}

.pos-t2 {
    padding-right: 70px;
    padding-left: 80px;
}

.fot-bck {
    background-image: url("images/bg-signup.jpg");
   
    
}

.cont-foot {
    margin-top: 100px;
}

.icon-flech {
    color: white;
    font-size: 30px;
}

.row_foot {
    padding-top: 200px;
}

.rowh1 {
    color:  white;
    margin-bottom: 40px;
}

.lienmail {
    letter-spacing: .15rem;
}

.bsub {
    padding-top: 9px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #64a19d !important;
}


.bck-foot {
    background-color: white;
    text-align: center;
    border: 2px;
    border-radius: 15px;
    margin-top: 90px;
    border-bottom: #64a19d 5px solid;
    
}

.icon-foot{
    color: #64a19d;
    font-size: 20px;
    margin-top: 40px;
    
}

.pfoot2{
    letter-spacing: .15rem;
}


.bdrt3 {
    border: solid 2px;
    border-color: #64a19d;
    margin-right: 98px;
    margin-left: 98px;
    margin-bottom: 30px;
}

.p-infofoot {
    color: darkgray;
    font-size: 14px;
}

.p-infolien {
    color: #64a19d;
    font-size: 14px;
}

.dilien {
    margin-bottom: 15px;
}